{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block monTitre %}Liste des personnages{% endblock %}

{% block body %}
    <div>Pseudo : {{ pseudo }}</div>
    <div>Age : {{ age }}</div>
    <div>Caractéristiques => </div>
    <div>Force : {{ caracteristiques.force }}</div>
    <div>Agilité : {{ caracteristiques.agilite }}</div>
    <div>Intelligence : {{ caracteristiques.intelligence }}</div>
{% endblock %}